{% extends 'base-back.html.twig' %}

{% block title %}Modifier Convention{% endblock %}
{% block contenu %}

    {{ include('convention/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_convention_index') }}">back to list</a>

    {{ include('convention/_delete_form.html.twig') }}
{% endblock %}
